.red{color:#de3b3b;}
.clear{clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.mask{width:100%; height:100%; background:#000;opacity:0.4;top:0;filter:alpha(opacity=40);left:0;display:none;position:fixed;z-index:10;}
/*------------------------首页顶部-----------------------------*/
.home {width:40px;font-size:1em;text-shadow:none;color:#fff;margin-top:-8px; float:left;}
.home i {background:url(../images/list/home.png) no-repeat 0 0;background-size:23px 23px;display:block;width:25px;height:25px;margin-left:5px;margin-top:5px; }
.search {margin:0px 55px 0 50px;height:3.2em;line-height:3.2em;background-color:#c62d2d;border-radius:8px;text-shadow:none;font-size:0.8em;/*font-size:22px;*/color:#fff;}
.search  i{background:url(../images/index/search-icon.png) no-repeat;background-size:21px 17px;display:inline-block;width:21px;height:17px;margin-left:5px; vertical-align:-3px;margin-right:5px;cursor:pointer;}
.mine {width:40px;margin-top:-8px; float:right; margin-right:0.5em;}
.mine a {font-size:1em; text-shadow:none;color:#fff;font-weight:normal;}
.mine  i{background:url(../images/list/icon2.png) no-repeat 0 0;background-size:23px 23px;display:block;width:25px;height:25px;margin-left:5px;margin-top:5px;margin-bottom:3px;}

.mine-menu{position:fixed; top:70px;right:0; z-index:1000000;}
#mine-menu{position:absolute;top:0;right:0;background:#fff;width:110px;padding:0 20px;}
#mine-menu ul li{height:40px;line-height:40px;border-bottom:1px solid #ddd;}
#mine-menu ul li.border-no{border-bottom:none}
#mine-menu ul li a{font-size:.9em;color:#000;font-weight:normal;}
/*----------------列表页-----------------*/
.listContent{width:100%; margin-top:70px;}
.list-top{width:98%; height:25px; line-height:25px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#fff; padding:22px 1%; overflow:hidden;}
.list-item li{float:left; width:25%;}
.list-item .icon-arrow{display:inline-block; position:relative;}
.list-item .icon-arrow i{display:inline-block; border:5px solid transparent; height:0; width:0;}
.list-item .icon-arrow i.arrow-top{border-bottom:5px solid #ddd; position:absolute; top:0; left:35px;}
.list-item .icon-arrow i.arrow-top:hover{border-bottom-color:#de3b3b;}
.list-item .icon-arrow i.arrow-bottom:hover{border-top-color:#de3b3b;}
.list-item .icon-arrow i.arrow-bottom{border-top:5px solid #ddd; position:absolute; bottom:0; left:35px;}
.list-item a.icon-arrow-down span{float:left; margin-right:1%;}
.list-item a.icon-arrow-down i.m-arrow{background:url(../images/list/icon.png) no-repeat center center; width:16px; height:9px; display:block; float:left; margin-top:10px; background-size:60%;}

.list-bottom {margin-top:10px; width:100%; height:auto; overflow:hidden;}
.list-bottom .list-bottom-item{width:100%;}
.list-bottom .list-bottom-item li{border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#fff; padding:15px 1%; width:98%; margin-bottom:10px;}
.list-img{width:30%; float:left;}
.list-img img{width:10em; height:10em;}
.list-text{width:69%; float:left; margin-left:1%;}
.list-level span{display:inline-block; width:15%; height:30px; background:#de3b3b; color:#fff; text-align:center; line-height:30px; float:left;}
.list-level strong{line-height:30px; margin-left:1%; color:#000;}
.list-title{width:100%; height:1.8em;}
.list-title h2{color:#888; width:98%; height:1.8em; font-weight:normal; line-height:1.5em; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list-letter span{color:#888; line-height:150%; width:50%;}
.list-letter span.percent{float:right; text-align:right;}
.list-letter span b{color:#de3b3b; font-size:100%; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}
.list-label a{display:inline-block; float:left; width:auto; padding:0 1%; height:35px; border-radius:3px; background:#fdeec6; color:#aa7c03; margin-right:1%; text-align:center; line-height:35px;}
.list-label{margin:1% 0; width:100%;}
.list-icon1{display:inline-block; float:left;}
.list-icon1 img{width:65%; height:auto; overflow:hidden; vertical-align:-12px;}
.list-footer span{display:inline-block; width:43%; float:left;}
.list-footer span b{font-weight:normal;}
.list-footer a{width:10%; text-align:right;  margin-right:0.2em;}
.list-footer a i.fav{background:url(../images/list/icon-h.png) no-repeat center right; background-size:50% auto;display:inline-block; width:30px; height:26px; line-height:26px; vertical-align:middle;}
.list-footer a i.fav.fav-on{background:url(../images/list/icon-hover.png) no-repeat center right; background-size:50% auto;display:inline-block; width:30px; height:26px; line-height:26px; vertical-align:middle;}
@media screen and (max-width: 680px){
	.list-top{height:auto; line-height:1.5em; padding:2% 5%;}
	.list-level span{height:auto; line-height:1.5em;}
	.list-level strong{line-height:1.5em;}
	.list-label a{height:auto; line-height:2em;}
	
	}
@media screen and (max-width: 480px){
	.list-footer a{width:10%; text-align:right;  margin-right:0.4em;}
	}
/*-------------------弹出层---------------------*/
.layerBox{width:90%; position:absolute; top:0; right:0; z-index:1001; height:auto;background:#f8f8f8; display:none;}
.layerBox .layer-top{width:96%; height:25px; padding:20px 2%; background:#fff;}
.layerBox .layer-top a{display:block; float:left; width:33%; text-align:center;}
.layerBox .layer-top a.layer-sx{font-size:1.2em; color:#000;}
.layer-cont{width:98%; padding:20px 0 20px 2%; background:#fff; margin-top:10px;}
.layer-cont dl{border-bottom:1px solid #ddd; padding:1% 0; overflow:hidden;}
.layer-dl dt{margin-bottom:10px; overflow:hidden;}
.layer-dl dt h2{float:left; font-weight:normal;}
.layer-dl dt span{font-size:0.9em; color:#000; margin-left:20px; float:left;}
.layer-dl dt a.arrow{background:url(../images/list/icon.png) no-repeat center center; width:16px; height:9px; display:block; float:right; margin-right:2%; margin-top:6px; background-size:60%;}
.layer-dl dt i{display:block; float:left;}
.layer-dl dd a{display:block; float:left; float:left; width:30%; height:2.3em; padding:0 1%; line-height:2.3em; font-size:0.9em; margin-right:1%; margin-bottom:10px; background:#f8f8f8; text-align:center; color:#000;}
.layer-dl dd a:hover{background:#fdeec6; color:#aa7c03;}
.layer-place{height:2.3em; background:#f8f8f8; padding:0 1%; line-height:2.3em; width:28%;margin:10px 0;}
.layer-place i.layer-icon{displa:inline-block; background:url(../images/list/icon4.png) no-repeat 0 0; height:24px;width:18px; margin-top:10px; margin-left:20%; float:left; background-size:12px 18px;}