<div class="portlet box grey">
  <div class="portlet-title  portlet-title_color  portlet-title_green">
    <span class="title_redLine_bg ab"></span>

    <div class="caption">
      业务受理
    </div>
    <div class="actions">
      <a href="javascript:;" class="remove" data-original-title="" title="" ng-click="cancel()"></a>
    </div>
  </div>
  <div class="portlet-body portlet-detail">
    <div class="tabbable-line">
      <ul class="nav nav-tabs">
        <li ng-class="{active: currentTab.tab1}">
          <a ng-click="switchTab();">询问部分</a>
        </li>
        <li ng-class="{active: currentTab.tab2}">
          <a ng-click="switchTab();">查询部分</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="accept_XWBF" ng-class="{hide: !currentTab.tab1}" epik-modal-help-tip="projectAccept">
          <div class="portlet" ng-show="canEdit">
            <div class="portlet-body">
              <form name="form1" class="form form-horizontal" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="clientName">委托人全称<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <p class="form-control-static">
                          {{edit.clientName }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="projectSourceId">项目来源<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <select name="projectSourceId" ng-model="edit.projectSourceId" ng-required="true" class="form-control"
                                ng-options="option.id as option.nameChs for option in projectSources">
                        </select>
                        <div class="text-danger"
                             ng-messages="form1.projectSourceId.$error" ng-if="form1.projectSourceId.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="controllerName">实际控制人</label>

                      <div class="col-md-9">
                        <input name="controllerName" type="text" class="form-control" placeholder="实际控制人"
                               ng-model="edit.controllerName"
                               >

                        <!--<div class="text-danger" ng-messages="form1.controllerName.$error"-->
                             <!--ng-if="form1.controllerName.$dirty">-->
                          <!--<div ng-messages-include="/components/ngMessageTpls/messages.html"></div>-->
                        <!--</div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="contactPerson">联系人<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <input name="contactPerson" type="text" class="form-control" placeholder="联系人"
                               ng-model="edit.contactPerson"
                               ng-required="true">

                        <div class="text-danger" ng-messages="form1.contactPerson.$error"
                             ng-if="form1.contactPerson.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="industryId">行业<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <epik-industry-picker name="industryId"
                                              ng-model="edit.industryId" ng-required="true"></epik-industry-picker>
                        <div class="text-danger" ng-messages="form1.industryId.$error" ng-if="form1.industryId.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="contactTitle">联系人职务<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <input name="contactTitle" type="text" class="form-control" placeholder="联系人职务"
                               ng-model="edit.contactTitle" ng-required="true">

                        <div class="text-danger" ng-messages="form1.contactTitle.$error"
                             ng-if="form1.contactTitle.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="qualification">资质</label>

                      <div class="col-md-9">
                        <input name="qualification" type="text" class="form-control" placeholder="资质"
                               ng-model="edit.qualification" >

                        <!--<div class="text-danger" ng-messages="form1.qualification.$error"-->
                             <!--ng-if="form1.qualification.$dirty">-->
                          <!--<div ng-messages-include="/components/ngMessageTpls/messages.html"></div>-->
                        <!--</div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="contactTel">联系人电话<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <input name="contactTel" type="text" class="form-control" placeholder="联系人电话"
                               ng-model="edit.contactTel"
                               ng-required="true">

                        <div class="text-danger" ng-messages="form1.contactTel.$error" ng-if="form1.contactTel.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="businessIncome">营业收入<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <div class="input-group">
                          <input name="businessIncome" type="text" class="form-control"
                                 fcsa-number="{prepend: '¥'}"
                                 ng-model="edit.businessIncome"
                                 ng-required="true">
                          <span class="input-group-addon">万元</span>
                        </div>
                        <div class="text-danger" ng-messages="form1.businessIncome.$error"
                             ng-if="form1.businessIncome.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label">需求期限<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <div class="input-group">
                          <input name="demandPeriod" type="text" class="form-control" placeholder="需求期限(天数)"
                                 fcsa-number
                                 ng-model="edit.demandPeriod" ng-required="true">
                          <span class="input-group-addon">天</span>
                        </div>
                        <div class="text-danger" ng-messages="form1.demandPeriod.$error"
                             ng-if="form1.demandPeriod.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="debt">刚性负债<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <div class="input-group">
                          <input name="debt" type="text" class="form-control" ng-model="edit.debt"
                                 fcsa-number="{prepend: '¥'}"
                                 ng-required="true">
                          <span class="input-group-addon">万元</span>
                        </div>
                        <div class="text-danger" ng-messages="form1.debt.$error" ng-if="form1.debt.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="needScale">需求规模<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <div class="input-group">
                          <input name="needScale" type="text" class="form-control" fcsa-number="{prepend: '¥'}"
                                 ng-model="edit.needScale" ng-required="true">
                          <span class="input-group-addon">万元</span>
                        </div>
                        <div class="text-danger" ng-messages="form1.needScale.$error" ng-if="form1.needScale.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label">需求时间<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <div class="input-group" ng-init="dateOpt={opened:false}">
                          <input name="requiredTime" type="text" readonly class="form-control"
                                 datepicker-popup="yyyy-MM-dd"
                                 ng-model="edit.requiredTime" is-open="dateOpt.opened"
                                 datepicker-options="dateOptions" ng-required="true"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event,dateOpt)"><i
                                  class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <div class="text-danger" ng-messages="form1.requiredTime.$error"
                             ng-if="form1.requiredTime.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label" epik-field-help-tip="remark">需求描述<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <textarea name="remark" type="text" rows="3" class="form-control" maxlength="250"
                                  placeholder="250字以内" ng-model="edit.remark" ng-required="true"></textarea>

                        <div class="text-danger" ng-messages="form1.remark.$error" ng-if="form1.remark.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="projectSourceCode === 'BS_NBTJ'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label col-xs-3" epik-field-help-tip="employeeName">员工姓名<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-xs-9">
                          <!--<epik-org-picker name="employeeId" org-type="emp"
                                           ng-model="edit.employeeId" ng-required="true"></epik-org-picker>-->
                          <div name="employeeId" form-name="'employeeName'"
                               on-select="select2" ng-model="edit.employeeId" epik-picker type="'employee'"
                               search-scope="2" display-name="edit.employeeName">
                          </div>
                          <div class="text-danger" ng-messages="form1.employeeId.$error"
                               ng-if="form1.employeeId.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label" epik-field-help-tip="employeeTitle">员工职务</label>

                        <div class="col-md-9">
                          <p class="form-control-static">
                            {{edit.employeeTitle }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label col-xs-3" epik-field-help-tip="employeeTel">员工电话</label>

                        <div class="col-xs-9">
                          <p class="form-control-static">
                            {{edit.employeeTel }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label col-xs-3">所属机构</label>

                        <div class="col-xs-9">
                          <p class="form-control-static">
                            {{edit.departmentFullName }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="projectSourceCode === 'BS_YIN_HANG_TUI_JIAN'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label" epik-field-help-tip="bankName">银行名称<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-md-9">
                          <input name="bankName" type="text" class="form-control" placeholder="银行名称"
                                 ng-model="edit.bankName" ng-required="true">

                          <div class="text-danger" ng-messages="form1.bankName.$error" ng-if="form1.bankName.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label" epik-field-help-tip="bankPerson">推荐人<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-md-9">
                          <input name="bankPerson" type="text" class="form-control" placeholder="推荐人"
                                 ng-model="edit.bankPerson" ng-required="true">

                          <div class="text-danger" ng-messages="form1.bankPerson.$error"
                               ng-if="form1.bankPerson.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label" epik-field-help-tip="bankPersonTitle">推荐人职务<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-md-9">
                          <input name="bankPersonTitle" type="text" class="form-control" placeholder="推荐人职务"
                                 ng-model="edit.bankPersonTitle" ng-required="true">

                          <div class="text-danger" ng-messages="form1.bankPersonTitle.$error"
                               ng-if="form1.bankPersonTitle.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label" epik-field-help-tip="bankPersonTel">推荐人电话<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-md-9">
                          <input name="bankPersonTel" type="text" class="form-control" placeholder="推荐人电话"
                                 ng-model="edit.bankPersonTel" ng-required="true">

                          <div class="text-danger" ng-messages="form1.bankPersonTel.$error"
                               ng-if="form1.bankPersonTel.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="projectSourceCode === 'BS_KE_HU_TUI_JIAN'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label" epik-field-help-tip="customerName">客户名称<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-md-9">
                          <div name="customerId" form-name="'customerName'" epik-picker customer-type="indi"
                               type="'customer'" on-select='select1' display-name="edit.customerName"
                               ng-model="edit.customerId" ng-required="true">
                          </div>
                          <div class="text-danger" ng-messages="form1.customerId.$error"
                               ng-if="form1.customerId.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label" epik-field-help-tip="customerTel">客户电话</label>

                        <div class="col-md-9">
                          <p class="form-control-static">
                            {{edit.customerTel }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label">工作单位<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-md-9">
                          <input name="customerCorporName" type="text" class="form-control" placeholder="工作单位"
                                 ng-model="edit.customerCorporName" ng-required="true">
                          <div class="text-danger" ng-messages="form1.customerCorporName.$error"
                               ng-if="form1.customerCorporName.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="projectSourceCode === 'BS_GONG_SI_JIAO_BAN'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-3 control-label">交办人<span class="required" aria-required="true">
										* </span></label>

                        <div class="col-md-9">
                          <input name="assigner" type="text" class="form-control" placeholder="交办人"
                                 ng-model="edit.assigner" ng-required="true">

                          <div class="text-danger" ng-messages="form1.assigner.$error"
                               ng-if="form1.assigner.$dirty">
                            <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label">来源备注<span class="required" aria-required="true">
										* </span></label>

                      <div class="col-md-9">
                        <textarea name="projectSourceRemark" rows="3" class="form-control" maxlength="250"
                                  placeholder="250字以内" ng-model="edit.projectSourceRemark"
                                  ng-required="true"></textarea>

                        <div class="text-danger" ng-messages="form1.projectSourceRemark.$error"
                             ng-if="form1.projectSourceRemark.$dirty">
                          <div ng-messages-include="/components/ngMessageTpls/messages.html"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="accept_CXBF" ng-class="{hide: !currentTab.tab2}">
          <div class="portlet box grey">
            <div class="portlet-title  portlet-title_color  portlet-title_green">
              <span class="title_redLine_bg ab"></span>

              <div class="caption">
                人行征信 (个人)
              </div>
              <div class="actions">
                <a href="javascript:;" class="greyA" ng-click="applySearchCredit()"
                   ng-disabled="(selectedCorpList.length+selectedIndiList.length)<1"><span
                  class="title_icons vm"></span><span class="vm">征信调查申请</span></a>
                &nbsp;&nbsp;
                <a href="javascript:;" class="greyA" ng-click="addIndividualCustomer()">
                  <span class="title_icons vm"></span><span class="vm">添加查询人</span>
                </a>
                &nbsp;&nbsp;
                <a href="javascript:;" class="greyA" ng-click="removeIndividualCustomers()">
                  <span class="title_icons vm"></span><span class="vm">删除查询人</span>
                </a>
              </div>
            </div>
            <div class="portlet-body" epik-modal-help-tip="individualCreditSummary">
              <table class="table custom-table">
                <thead>
                <tr>
                  <th widht="5%"></th>
                  <th width="9%" style="text-align: center;" epik-modal-help-tip="customerInfoApplyDetail"><span epik-field-help-tip="customerName">客户姓名</span></th>
                  <th width="10%" style="text-align: center;">行业</th>
                  <th width="16%" style="text-align: center;"><span epik-field-help-tip="identityNumber">身份证号</span></th>
                  <th width="10%" style="text-align: center;">身份证复印件</th>
                  <th width="10%" style="text-align: center;">授权书</th>
                  <th width="10%" style="text-align: center;">人行征信</th>
                  <th width="5%" style="text-align: center;">查询人</th>
                  <th width="5%" style="text-align: center;">查询时间</th>
                  <th width="10%" style="text-align: center;">查询结果</th>
                  <th width="10%" style="text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in myData">
                  <td style="text-align: center;">
                    <input type="checkbox" ng-value="row.id" ng-model="selectedIndiList[row.id]"/>
                  </td>
                  <td style="text-align: center;" ng-bind="row.customerName" title="{{row.customerName}}"></td>
                  <td style="text-align: center;" ng-bind="row.industryName" title="{{row.industryName}}"></td>
                  <td style="text-align: center;" ng-bind="row.identityNumber" title="{{row.identityNumber}}"></td>
                  <td style="text-align: center;">
                    <epik-downloader-modal ng-model="row.pictureIdentity"></epik-downloader-modal>
                  </td>
                  <td style="text-align: center;">
                    <epik-downloader-modal ng-model="row.pictureAuthorization"></epik-downloader-modal>
                  </td>
                  <td style="text-align: center;">
                    <epik-downloader-modal ng-model="row.individualCreditId"></epik-downloader-modal>
                  </td>
                  <td style="text-align: center;" ng-bind="row.reportorName" title="{{row.reportorName}}"></td>
                  <td style="text-align: center;"
                      ng-bind="row.reportDate | date:'yyyy-MM-dd'" title="{{row.reportDate | date:'yyyy-MM-dd'}}"></td>
                  <td style="text-align: center;">
                    <a class="blueA" ng-click="lookInfoCreditDetail(row)">查看详情</a>
                  </td>
                  <td style="text-align: center;">
                    <a class="blueA" ng-click="addIndividualCustomer(row)">编辑</a> |
                    <a class="redA" ng-click="removeIndividualCustomer(row)">移除</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="portlet box grey">
            <div class="portlet-title  portlet-title_color  portlet-title_green">
              <span class="title_redLine_bg ab"></span>

              <div class="caption">
                人行征信 (企业)
              </div>
              <div class="actions">
                <a href="javascript:;" class="greyA" ng-click="addCorporateCustomer()">
                  <span class="title_icons vm"></span><span class="vm">添加查询人</span>
                </a>
                &nbsp;&nbsp;
                <a href="javascript:;" class="greyA" ng-click="removeCorporateCustomers()">
                  <span class="title_icons vm"></span><span class="vm">删除查询人</span>
                </a>
              </div>
            </div>
            <div class="portlet-body" epik-modal-help-tip="corporationCreditSummary">
              <table class="table custom-table">
                <tr>
                  <th widht="5%"></th>
                  <th width="9%" style="text-align: center;" epik-modal-help-tip="customerInfoApplyDetail"><span epik-field-help-tip="customerName">客户姓名</span></th>
                  <th width="10%" style="text-align: center;">行业</th>
                  <th width="8%" style="text-align: center;">
                    <div width="8%"><span epik-field-help-tip="identityNumber" title="组织机构代码/统一社会信用代码">组织机...</span></div>
                  </th>
                  <th width="8%" style="text-align: center;">贷款卡号</th>
                  <th width="10%" style="text-align: center;">贷款卡复印件</th>
                  <th width="10%" style="text-align: center;">授权书</th>
                  <th width="10%" style="text-align: center;">人行征信</th>
                  <th width="5%" style="text-align: center;">查询人</th>
                  <th width="5%" style="text-align: center;">查询时间</th>
                  <th width="10%" style="text-align: center;">查询结果</th>
                  <th width="10%" style="text-align: center;">操作</th>
                </tr>
                <tr ng-repeat="row in myData1">
                  <td style="text-align: center;">
                    <input type="checkbox" ng-value="row.id" ng-model="selectedCorpList[row.id]"/>
                  </td>
                  <td style="text-align: center;" ng-bind="row.customerName" title={{row.customerName}}></td>
                  <td style="text-align: center;" ng-bind="row.industryName" title={{row.industryName}}></td>
                  <td style="text-align: center;" ng-bind="row.identityNumber" title={{row.identityNumber}}></td>
                  <td style="text-align: center;" ng-bind="row.loanCardNo" title={{row.loanCardNo}}></td>
                  <td align="center">
                    <epik-downloader-modal ng-model="row.pictureIdentity"></epik-downloader-modal>
                  </td>
                  <td align="center">
                    <epik-downloader-modal ng-model="row.pictureAuthorization"></epik-downloader-modal>
                  </td>
                  <td align="center">
                    <epik-downloader-modal ng-model="row.corporationCreditId"></epik-downloader-modal>
                  </td>
                  <td style="text-align: center;" ng-bind="row.reportorName" title={{row.reportorName}}></td>
                  <td style="text-align: center;" ng-bind="row.reportDate | date:'yyyy-MM-dd'"
                      title="{{row.reportDate | date: 'yyyy-MM-dd'}}"></td>
                  <td style="text-align: center;">
                    <a class="blueA" ng-click="lookCorpCreditDetail(row)">查看详情</a>
                  </td>
                  <td align="center">
                    <a class="blueA" ng-click="addCorporateCustomer(row)">编辑</a>
                    |
                    <a class="redA" ng-click="removeCorporateCustomer(row)">移除</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="portlet box grey">
            <div class="portlet-title portlet-title_color  portlet-title_green">
              <span class="title_redLine_bg ab"></span>

              <div class="caption">
                司法、工商与公开信息查询结果汇总
              </div>
            </div>
            <div class="portlet-body" epik-modal-help-tip="mediaSearchRecord">
              <table class="table custom-table">
                <tr>
                  <th colspan="2" style="text-align: center;"><span epik-field-help-tip="mediaSearchWebsiteId">网址</span></th>
                  <th style="text-align: center;"><span epik-field-help-tip="mediaSearchRecord">是否查询</span></th>
                </tr>
                <tr ng-repeat="item in webSiteList">
                  <td ng-show="false" ng-bind="item.id"></td>
                  <td ng-bind="item.webName"></td>
                  <td><a class="blueA" href="{{item.webUrl}}" target="_blank" ng-bind="item.webUrl"> </a></td>
                  <td style="text-align: center;">
                    <label><input type="checkbox" class="check_margin vm" ng-model="item.isQuery"/> <span
                      class="vm">是</span> </label>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="portlet box grey">
            <div class="portlet-title portlet-title_color  portlet-title_green">
              <span class="title_redLine_bg ab"></span>

              <div class="caption">
                查询结果
              </div>
              <div class="actions">
                <a href="#" class="greyA" ng-click="addOrEditPublicInfo()">
                  <span class="title_icons vm"></span><span class="vm">添加查询主体</span>
                </a>
              </div>
            </div>
            <div class="portlet-body" epik-modal-help-tip="publicInfoSummary">
              <div style="overflow-x: scroll;">
                <table class="table custom-table">
                  <thead>
                  <tr>
                    <th rowspan="2" colspan="2" style="text-align:center; width: 100px">操作</th>
                    <th rowspan="2" style="text-align:center; width: 100px"><span epik-field-help-tip="subject">主体</span></th>
                    <th rowspan="2" style="text-align:center; width: 180px">名称</th>
                    <th rowspan="2" style="text-align:center; width: 180px"><span epik-field-help-tip="identityNumber">证件号码</span></th>
                    <th colspan="2" style="text-align:center; width: 300px">工商查询</th>
                    <th colspan="2" style="text-align:center; width: 300px">诉讼查询</th>
                    <th colspan="2" style="text-align:center; width: 300px">其他查询</th>
                    <th colspan="2" style="text-align:center; width: 300px">有无网络负面信息</th>
                    <th rowspan="2" style="text-align:center; width: 100px">鹏元报告</th>
                    <th rowspan="2" style="text-align:center; width: 100px">查询时间</th>
                    <th rowspan="2" style="text-align:center; width: 100px">汇法报告</th>
                    <th rowspan="2" style="text-align:center; width: 100px">查询时间</th>

                  </tr>
                  <tr>
                    <th colspan="2" style="text-align:center;"><span epik-field-help-tip="manageStatusId">状态</span></th>
                    <!--<th style="text-align:center;">经营终止日</th>-->
                    <th style="text-align:center;"><span epik-field-help-tip="isHaveLitigation">结论</span></th>
                    <th style="text-align:center;"><span epik-field-help-tip="litigationRemark">备注</span></th>
                    <th style="text-align:center;"><span epik-field-help-tip="othersStatus">结论</span></th>
                    <th style="text-align:center;"><span epik-field-help-tip="othersRemark">备注</span></th>
                    <th style="text-align:center;"><span epik-field-help-tip="isHaveNegativeInfo">结论</span></th>
                    <th style="text-align:center;"><span epik-field-help-tip="negativeInfoRemark">备注</span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in rsList">
                    <td align="center" colspan="2" style="text-align:center;"><a class="blueA" ng-click="addOrEditPublicInfo(item)">编辑</a>
                     <a class="redA" ng-click="delPublicInfo(item)" ng-if="publicInfoEditable[item.customerName]"> | 删除</a></td>
                    <td align="center" title="{{item.relationTypeName}}">{{item.relationTypeName}}</td>
                    <td align="center" title="{{item.customerName}}">{{item.customerName}}</td>
                    <td align="center" title="{{item.identityNumber}}">{{item.identityNumber}}</td>
                    <td colspan="2" align="center" title="{{item.manageStatusName}}">{{item.manageStatusName}}</td>
                    <!--<td align="center" title="{{item.manageStopDate | date:'yyyy-MM-dd'}}">{{item.manageStopDate | date:'yyyy-MM-dd'}}</td>-->
                    <td align="center">{{(item.isHaveLitigation === true) ? '有':(item.isHaveLitigation === false ? '无':'')}}</td>
                    <td align="center" title="{{item.litigationRemark}}">{{item.litigationRemark}}</td>
                    <td align="center">{{(item.othersStatus === true) ? '有':(item.othersStatus === false ? '无':'')}}</td>
                    <td align="center" title="{{item.othersRemark}}">{{item.othersRemark }}</td>
                    <td align="center">{{(item.isHaveNegativeInfo === true) ? '有':(item.isHaveNegativeInfo === false ? '无':'')}}</td>
                    <td align="center" title="{{item.negativeInfoRemark}}">{{item.negativeInfoRemark}}</td>
                    <td align="center"><a class="blueA" ng-click="confirmQueryPYCredits(item)">查看</a></td>
                    <td align="center" title="{{item.pycReportTime | date : 'yyyy-MM-dd' }}">{{item.pycReportTime | date : 'yyyy-MM-dd' }}</td>
                    <td align="center"><a class="blueA" ng-click="confirmQueryHFCredits(item)">查看</a></td>
                    <td align="center" title="{{item.lawxpReportTime | date : 'yyyy-MM-dd' }}">{{item.lawxpReportTime | date : 'yyyy-MM-dd' }}</td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-lable col-md-2">项目人员描述</label>

                    <div class="col-md-10">
                      <textarea maxlength="200" ng-model="creditManagerRemark" class="form-control"
                                rows="3" placeholder="200字以内"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet box grey" epik-modal-help-tip="customerInfoApply">
            <div class="portlet-title portlet-title_color portlet-title_green">
              <span class="title_redLine_bg ab"></span>

              <div class="caption">
                <span epik-field-help-tip="industryPolAnaly">行业政策与分析</span>
              </div>
              <div class="actions">
              </div>
            </div>
            <div class="portlet-body">
              <div class="row form-group">
                <div class="col-md-12">
                  <textarea ng-model="industryPolAnaly" maxlength="1000" rows="3" class="form-control"
                            placeholder="所属子行业的近年发展情况描述，以及供应商的议价能力，购买证的议价能力，新进入的威胁，替代品的威胁，同业竞争者的竞争程度"></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <epik-uploader-modal ng-model="industryPolAnalyFileId"></epik-uploader-modal>
                </div>
              </div>
            </div>
          </div>
          <div class="portlet box grey" epik-modal-help-tip="customerInfoApply">
            <div class="portlet-title portlet-title_color portlet-title_green">
              <span class="title_redLine_bg ab"></span>

              <div class="caption">
                <span epik-field-help-tip="softInfo">软信息</span>
              </div>
              <div class="actions">
              </div>
            </div>
            <div class="portlet-body">
              <div class="row form-group">
                <div class="col-md-12">
                  <textarea ng-model="softInfo" rows="3" class="form-control"
                            placeholder="打听到的具体信息，及渠道描述"></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <epik-uploader-modal ng-model="softInfoFileId"></epik-uploader-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
